{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Off The Records{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styles.css' %}">

    </head>
    <body>
    {% if request.user.is_authenticated and request.user.role != 3 %}
        <div class="container-fluid">
            <nav class = "navbar">
                <div class = "row">
                    <a class="navbar-brand" href="{% url 'index' %}">Off The Records</a>
                    {% if request.user.role == 1 %}
                    <div class="nav-item">
                        <a class="nav-link" href="{%  url 'new_artist' %}">Add New Artist</a>
                    </div>
                    {% endif %}
                    <div class="nav-item">
                        <a class="nav-link" href="{%  url 'new_project' %}">Create New Project Plan</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="{% url 'project_planning_list' %}">Project Plans</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </div>
                </div>
                <div class = "row">
                    <div class="nav-item">
                        <a class="nav-link">Signed in as {{ request.user.username }}</a>
                    </div>
                </div>
            </nav>
        </div>
    {% endif %}
        <div class="container-fluid">
            {% block body %}
                <div id="root"></div>
            {% endblock %}
        </div>
        <!-- Load React. -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>


    </body>

{% block script %}
{% endblock %}
</html>